<!DOCTYPE html>
<html lang="en">

<%- include("../partials/headPartial.ejs") %>

    <body>
        <%- include("../partials/headerPartial.ejs") %>
            <main class="main_myAccount">
                <div class="page_title">
                    <h1 class="main_titles">
                        <%= productFinded.category %>
                    </h1>
                </div>
                <div class="page_content">
                    <div class="myAccount_all">
                        <div class="centrado_texto">
                            <article class="Img_descripcion">

                                <img class="img_product"
                                    src="/img productos_weiss/productosImages/<%= productFinded.image %>"
                                    alt="imagenProducto">

                                <div class="detail_product">
                                    <h3 class="detailTitle">
                                        <%= productFinded.title %>
                                    </h3>
                                    <div class="precio">
                                        <h3 class="detailPrice">$<%= productFinded.price %>
                                        </h3>
                                        <h3 class="detailOffers">
                                            <%= productFinded.offers %>% OFF
                                        </h3>
                                    </div>
                                    <!-- <div class="carrito">
                                        <a class="agregar_carrito" href="">Agregar al carrito</a>
                                        <input type="number">
                                    </div> -->
                                    <div class="limites_lorem">
                                        <p class="detailDescription">
                                            <%= productFinded.description %>
                                        </p>
                                    </div>
                                </div>
                            </article>
                            <div class="centrar_efectoLinea">
                                <h3 class="efecto_linea1">Elaboración</h3>
                                <p class="detailCrafting">
                                    <%= productFinded.crafting%>
                                </p>
                                <h3 class="efecto_linea2">Información adicional</h3>
                                <p class="detailAddinfo">
                                    <%= productFinded.addinfo%>
                                </p>
                            </div>
                            </article>

                        </div>
                    </div>
                    <div class="pageContent_footer">
                        <a class="main_goBackHome" href="/"><i class="fa-solid fa-arrow-left"></i> Home</a>
                    </div>
                   <br>
                   <br>
                </div>
            </main>


            <%- include("../partials/footerPartial.ejs") %>
    </body>

</html>