<!DOCTYPE html>
<html lang="en">

<%- include("../partials/headPartial.ejs") %>

    <body>
        <%- include("../partials/headerPartial.ejs") %>
            <main class="main_productsAll">

                <div class="page_title">
                    <h1 class="main_titles">Productos</h1>

                </div>

                <div class="page_content">
                    <div class="articles">
                        <% for (product of products){ %>
                            <article class="product_article">
                                <div class="product_image">
                                    <div class="article_addCart"><a href=""><i class="fa-solid fa-cart-plus"></i></a>
                                    </div>
                                    <div class="article_addWish"><a href=""><i class="fa-solid fa-heart"></i></a></div>
                                    <% if (product.offer_twoForOne || product.offer_threeForTwo || product.discount
                                        !="0" ) {%>
                                        <h4 class="article_offerRibbon">¡OFERTA!</h4>
                                        <% } %>
                                            <a href="/productos/detalle/<%= product.id %>"><img class="article_img"
                                                    src="/img productos_weiss/productosImages/<%= product.image_1 %>"
                                                    alt="imagen de artículo-<%= product.name %>"></a>
                                </div>
                                <div>
                                    <p class="article_category">
                                        <%= product.categories.name %>
                                    </p>
                                    <a href="/productos/detalle/<%= product.id %>">
                                        <p class="article_name">
                                            <%= product.name %>
                                        </p>
                                    </a>
                                    <div class="product_price">
                                        <% if (product.discount !="0" ) { %>
                                            <h5 class="article_offer">
                                                <%=product.discount%> % OFF
                                            </h5>
                                            <p>$<%= product.price %>
                                            </p>
                                            <h5 class="article_price">$<%=
                                                    product.price-(product.price*product.discount/100) %>
                                            </h5>

                                            <% } %>
                                                <% if (product.offer_twoForOne) { %>
                                                    <h5 class="article_offer">2 unidades por el precio de 1</h5>
                                                    <h5 class="article_price">$<%= product.price %>
                                                    </h5>
                                                    <% } %>
                                                        <% if (product.offer_threeForTwo) { %>
                                                            <h5 class="article_offer">3 unidades por el precio de 2</h5>
                                                            <h5 class="article_price">$<%= product.price %>
                                                            </h5>
                                                            <% } %>
                                                                <% if (!product.offer_threeForTwo &&
                                                                    !product.offer_twoForOne && product.discount==0) {
                                                                    %>
                                                                    <h5 class="article_price">$<%= product.price %>
                                                                    </h5>
                                                                    <% } %>

                                    </div>
                                </div>
                            </article>
                            <% } %>



                    </div>

                    <div class="pageContent_footer">
                        <a class="main_goBackHome" href="/"><i class="fa-solid fa-arrow-left"></i> Home</a>
                        <div class="pageNumbers">
                            <ul class="pageNumberNav">
                                <a href="/productos?page=1&lim=5&off=0"><li>1</li></a>
                                <a href="/productos?page=2&lim=5&off=5"><li>2</li></a>
                                <a href="/productos?page=3&lim=5&off=10"><li>3</li></a>
                                <a href="/productos?page=4&lim=5&off=15"><li>4</li></a>
                                <a href="/productos?page=5&lim=5&off=20"><li>5</li></a>
                            </ul>
                        </div>
                    </div>

                </div>
            </main>


            <%- include("../partials/footerPartial.ejs") %>
    </body>

</html>