<!DOCTYPE html>
<html lang="en">

<%- include("../partials/headPartial.ejs") %> 

<body>
    <%- include("../partials/headerPartial.ejs") %> 
    <main>
        <article>
            <img class="foto-producto" src="/img productos_weiss/productosImages/<%= productFinded.image %>" alt="imagenProducto">
            <div>
                <h3 class="detailTemp1"> <%= productFinded.title %> </h3>
                <h3 class="detailTemp1"><%= productFinded.price %> </h3>
                <h3 class="detailTemp1"><%= productFinded.offers %> </h3>
                <p class="detailTemp2"><%= productFinded.description %></p>
                <p class="detailTemp2"><%= productFinded.crafting%></p>
            </div>
        </article>
        <br>
        <br>
        <br>
        <br>

    </main>
    
    
    <%- include("../partials/footerPartial.ejs") %> 
</body>
</html>